.vCarousel {
	width: 400px;
}

.vCarousel .wrapper {
	overflow: hidden;
	position: relative;
	width: 400px;
	height: 400px;
}

.vCarousel .wrapper .item {
	position: absolute;
}

.vCarousel a.prev,
.vCarousel a.next {
	margin-top: -1em;
	padding: .5em 1em;
	position: absolute;
	text-decoration: none;
	top: 50%;
	display: none;
}

.vCarousel a.next {
	right: 0;
}

.vCarousel .wrapper p {
	bottom: 0px;
	background-color: #FFF;
	padding: 1.5em;
	position: absolute;
	width: 100%;
	display: none;
}

.vCarousel .nav {
	bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	width: 100%;
  text-align: center;
}

.vCarousel .caption {
	background-color: Grey;
	height: 40px;
	padding: 20px;
}

