.vCarousel {
}

.vCarousel .wrapper {
	overflow: hidden;
	position: relative;
}

.vCarousel .wrapper .item {
	position: absolute;
}

.vCarousel a.prev,
.vCarousel a.next {
	margin-top: -1em;

	position: absolute;
	text-decoration: none;
	top: 40%;
	display: none;
	z-index: 100;
}

.vCarousel a.next {
	right: 0;
}

.vCarousel .wrapper p {
	bottom: 0px;
	background-color: #FFF;
	padding: 1.5em;
	position: absolute;
	width: 100%;
	display: none;
}

.vCarousel .wrapper .item
{
 height: 100%;
 width: 100%;
}

.vCarousel .wrapper .item .caption {
	bottom: 0px;
	background-color: #DEDEDE;
	position: absolute;
	width: 100%;
	height: 80px;
	opacity: .95;
	padding: 10px 10px 0px 10px;
}

.vCarousel .nav {
	bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	width: 100%;
  text-align: center;
}

